.cover-me {
  padding: 0;
  //min-height: 100vh !important;
  height: 100vh;
  background: linear-gradient(to bottom, #f9f1e9 , #dcd4cc);
  color: #333;
  .v-table {
    position: relative;
    //z-index: 999;
  }
  .desk {
    position: relative;
    width: 90%;
    max-width: 750px;
    .wow {
      opacity: 1 !important;
    }
    .intro-text {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 120%;
    }
  }
  .container {
    padding: 0;
  }
  .v-top {
    padding-top: 5rem;
  }
  img {
    width: 100%;
  }
  .button--play-icon {
    z-index: 9999;
  }
  .button--arrow-down {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  .typed-container {
    padding: 0 2rem;
  }
}

.works--03 {
  .works__item {
    width: auto;
  }
  img {
    max-height: 400px;
    width: auto;
    max-width: 100%;
  }
}

.header {
  //position: fixed;
  //z-index: 99;
}

.menu {
  z-index: 999999;
}

.typed-container {
  white-space: pre-line;
}

.about--07 {
  text-align: center;
  .about__photo {
    display: inline-block;
    margin: 1rem auto 3rem;
  }
  padding: 70px 0;
  .about__main_info--07 {
    line-height: 2em;
    a {
      display: inline-block;
      @extend .hover-1;
    }
  }
  .about__main_subtitle--07 {
    margin-bottom: 1rem;
  }
}

.testimonials--04 {
  background: #fff;
  padding: 70px 0 50px;
  @media (#{$max_phones}){
    padding: 50px 30px;
  }
}

.works--03 {
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .works__title, .works__text {
    padding: 0 1rem;
  }
  .works__title {
    font-size: 1.5rem;
  }
  .works--03 {
    img {
      max-height: 120px;
    }
  }
}


.works__item--01 {
  @media (#{$_one_column_works}){
    width: calc(50% - 7px);
    margin: 0 0 14px;
    .works__item_text_box--01 {
      display: none;
    }
    &:nth-child(2n) {
      margin-left: 14px;
    }
  }
}

.call_to_action__form {
  margin-top: 2rem;
  .button {
    width: auto;
    max-width: 100%;
    padding: 0 1.5rem;
    .text-after {
      display: none;
    }
  }
  &.success {
    .text-before {
      display: none;
    }
    .text-after {
      display: inline-block;
    }
  }
}

.slider-container {
  position: relative;
  @media (max-width: 500px) {
    .testimonials__arrows_box--04 {
      display: block !important;
      top: 94px !important;
      pointer-events: none;
      button {
        pointer-events: all;
      }
    }
    .testimonials__item_photo {

    }
  }
}
