doctype html
html
	head
		//the must have tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")

		//the must have assets
		link(rel="stylesheet", href="css/main.css")
		script(src="js/main.js", defer)

		//page title
		title
			| Night Coder | Front-End Developer
	body
		main
			include slides/loader
			include slides/header-02
			include slides/covers-01
			include slides/about-07
			include slides/works-01
			//include components/contents/05
			include slides/counters-01
			include slides/testimonials-04
			//include slides/partners-01
			//include slides/prices-01
			include slides/works-03
			include slides/menu-02

			//include components/footers/04
			//include components/popups/video
	.js-overlay.js-close-navigation.js-close-menu.overlay
