.about.about--07
	.container
		.works__title.about__title--07
			| About me
		//.about__container--07(style="background-image: url(img/bg/bg--bright-room.jpg)")
			.about__content--07
				.about__content__top_row--07
					h3.about__subtitle--07.about__main_subtitle--07
						| In short
					span.about__main_info--07
						| I was born and raised in Lipetsk, Russia.
						br
						| I love exploring and taking photos.
						br
						span.text-blue Blue
						| is my favorite color.
				.about__content__bottom_row--07
					.about__feature--07.about__feature_icon--trophy-icon--blue
						h3.about__subtitle--07
							| Peace of Mind
						span.about__main_info--07
							| Part location, part communication, all awesome. Phoenix keeps millions of families and close friends connected, no matter what chaos life throws their way.
					.about__feature--07.about__feature_icon--copy-icon--blue
						h3.about__subtitle--07
							| CROSS PLATFORM
						span.about__main_info--07
							| With Phoenix, just open the app and instantly see everyone in your private Circle on the map.
		.row
			.col-xs-10.col-sm-3.centered.about__photo
				img.img-fluid.img-circle(src='img/photos/me.jpg')


		.row.text-md-center
			.col-sm-12.col-md-4
				h3.about__subtitle--07.about__main_subtitle--07
					| In short
				span.about__main_info--07
					| I was born and raised in Lipetsk, Russia
					br
					| I love exploring and taking photos
					br
					| Blue is my favorite color
			.col-sm-12.col-md-4
				h3.about__subtitle--07.about__main_subtitle--07
					| Tools I use
				span.about__main_info--07
					| Photoshop, Illustrator, Sketch
					br
					| WebStorm, PhpStorm, RubyMine
					br
					| Gulp, Grunt
			.col-sm-12.col-md-4
				h3.about__subtitle--07.about__main_subtitle--07
					| My skills
				span.about__main_info--07
					| HTML5, CSS3, jQuery
					br
					| UX/UI
					br
					| LESS, SCSS, SASS
					br
					| Bootstrap, Materialize
					br
					| Slim, ERB, Haml