.call_to_action.call_to_action--02.call_to_action--picture(style="background-image: url(img/backgrounds/bg--apple-devices.jpg)")
	.container
		.works__title.call_to_action__title--02.text-white
			| Let's talk!
		form.call_to_action__form.call_to_action__form--02#contact-form(action="https://formkeep.com/f/568b18c5721c", method="POST")
			.call_to_action__input_box--02
				input.input.input--death.call_to_action__input--02(type="text", placeholder="Your name", name="name" required)
				input.input.input--death.call_to_action__input--02(type="email", placeholder="Email", name="email", required)
			button.button.button--blue.call_to_action__button--02(type="submit", onclick="yaCounter32612170.reachGoal('CLICK-CONTACT'); return true;")
				span.text-before Send
				span.text-after
