// == START OF COUNTERS 01 ==
.counter.counter--01
	.container-fluid
		.counter__item.counter__item--01
			.counter__title.counter__title--01
				| clients
			.counter__number
				| 25
		.counter__item.counter__item--01.counter__item--border
			.counter__title.counter__title--01
				| projects
			.counter__number
				| 37
		.counter__item.counter__item--01
			.counter__title.counter__title--01
				| years
			.counter__number
				| 7
// == END OF COUNTERS 01 ==