// == START OF COVER 01 ==
.cover.cover--01.js-cover.cover-me
    .container
        h2.cover__title--01
            span.cover__title_text--01
                | Yuriy Kovalev
        .cover__description_box--01
            span.about-title
                | Front-end Developer
    .cover__pic_box--01(style="background-image: url(img/stuff/table.jpg)")
// == END OF COVER 01 ==