nav.header.header--02
	.container.header__container
		.header__middle_box
			a.hover-1(href="mailto:write(at)me(dot)com", title="Say hi!", onclick="yaCounter32612170.reachGoal('CLICK-EMAIL-TOP'); return true;")
		//.header__right_box
			button.header__burger_button.header__burger_button--black.js-open-menu(type="button", data-menu-index="02--desktop")
