// == START OF DESKTOP MENU 02 (this menu is opened on burger tap: both in desktops and in mobiles) ==
nav.menu.menu--02--desktop.js-menu(data-menu-index="02--desktop", style="background-color: #242526")
    include header-17
    .menu__container--02--desktop
        ul.menu__list--02--desktop
            li.menu__item--02--desktop
                a.menu__link--02--desktop(href="#")
                    | About me
            li.menu__item--02--desktop
                a.menu__link--02--desktop(href="#")
                    | Things I've done
            li.menu__item--02--desktop
                a.menu__link--02--desktop(href="#")
                    | Showreel
            li.menu__item--02--desktop
                a.menu__link--02--desktop(href="#")
                    | Reviews
            li.menu__item--02--desktop
                a.menu__link--02--desktop(href="#")
                    | My clients
            li.menu__item--02--desktop
                a.menu__link--02--desktop(href="#")
                    | My photos
            li.menu__item--02--desktop
                a.menu__link--02--desktop(href="#")
                    | Contacts
    .container.menu__footer--02--desktop
        .menu__footer.menu__footer--02--desktop
            .menu__footer_left_box--02--desktop
                a.menu__footer_text--02--desktop(href="mailto:write(at)me(dot)com")
                    | write at me dot com
            .menu__footer_right_box--02--desktop
                ul.social.menu__footer_social--02--desktop
                    li.social__item.social__item--left_margin
                        a.social__link.social__link--instagram(href="#", title="My Instagram!")
                    li.social__item.social__item--left_margin
                        a.social__link.social__link--facebook(href="#", title="Say hello in Facebook!")
// == END OF DESKTOP MENU 02 (this menu is opened on burger tap: both in desktops and in mobiles) ==