// == START OF WORKS 03 ==
.works.works--03
	.container
		.works__title_box
			.works__title
				| My photos
			.works__text
				| In my free time I love to make photos
	.works__slider.js-slider(data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "fade": false, "cssEase": "linear", "arrows": false, "centerMode": false, "focusOnSelect": true, "variableWidth": true, "autoplay": true, "responsive": [{"breakpoint": 1400, "settings": {"centerMode": true}}]}')
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461884430365-0a87b6123549?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461857710142-3e7ace00f9f4?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461884565039-631924867711?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461885283715-7851eba48c56?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461899414075-b4a7da56143d?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb")
// == END OF WORKS 03 ==