.works.works--01
	.container
		.works__title_box
			.works__title
				| Latest works
	.works__row.works__row--01
		a.works__item.works__item--01(target="_blank", href="http://kreios.addictive.be", onclick="yaCounter32612170.reachGoal('CLICK-WORK'); return true;")
			.works__item_img
				img.img-fluid(src="img/portfolio/kreios.jpg")
			.works__item_text_box--01
				h3.works__item_title--01
					| Kreios
		a.works__item.works__item--01(target="_blank", href="http://fortunata.me", onclick="yaCounter32612170.reachGoal('CLICK-WORK'); return true;")
			.works__item_img
				img.img-fluid(src="img/portfolio/fortunata.jpg")
			.works__item_text_box--01
				h3.works__item_title--01
					| Fortunata
		a.works__item.works__item--01(target="_blank", href="http://coldwellsolar.com", onclick="yaCounter32612170.reachGoal('CLICK-WORK'); return true;")
			.works__item_img
				img.img-fluid(src="img/portfolio/coldwell.jpg")
			.works__item_text_box--01
				h3.works__item_title--01
					| Coldwell Solar
		a.works__item.works__item--01(target="_blank", href="http://promo.raiffeisen.ru/media", onclick="yaCounter32612170.reachGoal('CLICK-WORK'); return true;")
			.works__item_img
				img.img-fluid(src="img/portfolio/raiffeisen.jpg")
			.works__item_text_box--01
				h3.works__item_title--01
					| R-Connect – Promo
	.works__row.works__row--01.state-hidden-works-row
		a.works__item.works__item--01(target="_blank", href="http://rconnect.raiffeisen.ru",  onclick="yaCounter32612170.reachGoal('CLICK-WORK-HIDDEN'); return true;")
			.works__item_img
				img.img-fluid(src="img/portfolio/r-connect.jpg")
			.works__item_text_box--01
				h3.works__item_title--01
					| R-Connect – LP
		a.works__item.works__item--01(target="_blank", href="http://urisino.com",  onclick="yaCounter32612170.reachGoal('CLICK-WORK-HIDDEN'); return true;")
			.works__item_img
				img.img-fluid(src="img/portfolio/urisino.jpg")
			.works__item_text_box--01
				h3.works__item_title--01
					| Urisino
		a.works__item.works__item--01(target="_blank", href="http://kvartblog.com",  onclick="yaCounter32612170.reachGoal('CLICK-WORK-HIDDEN'); return true;")
			.works__item_img
				img.img-fluid(src="img/portfolio/kvartblog.jpg")
			.works__item_text_box--01
				h3.works__item_title--01
					| Kvartblog
		a.works__item.works__item--01(target="_blank", href="http://robux.kz",  onclick="yaCounter32612170.reachGoal('CLICK-WORK-HIDDEN'); return true;")
			.works__item_img
				img.img-fluid(src="img/portfolio/robux.jpg")
			.works__item_text_box--01
				h3.works__item_title--01
					| Robux
	button.works__show_more_button--01.button.button--border-black.js-show-more-works(onclick="yaCounter32612170.reachGoal('CLICK-VIEWMORE'); return true;")
		| view more
