// == START OF WORKS 01 ==
.works.works--01
	.container
		.works__title_box
			.works__title
				| Things I've done
			.works__text
				| Play with colors, animations and content. Enjoy our friendly in few minutes with Phoenix UI kit.
	.works__row.works__row--01
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/portfolio/raiffeisen.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| R-Connect
				span.works__item_tags--01
					| Landing page
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/portfolio/firstep.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Firstep Digital Agency
				span.works__item_tags--01
					| Website for digital agency
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/portfolio/robux.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Robux
				span.works__item_tags--01
					| Accounting app
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/portfolio/hochland.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Hochland
				span.works__item_tags--01
					| Promo website
	.works__row.works__row--01.state-hidden-works-row
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/portfolio/pic--case-5.jpg)")
			.works__item_text_box--01
				h3.works__item_title--01
					| 404 page
		a.works__item.works__item--01(href="#")
			.works__item_img.works__item_img--01(style="background-image: url(img/portfolio/pic--case-6.png)")
			.works__item_text_box--01
				h3.works__item_title--01
					| Phoenix cover
	button.works__show_more_button--01.button.button--border-black.js-show-more-works
		| view more
// == END OF WORKS 01 ==
