.works.works--03
	.container
		.works__title_box
			.works__title
				| My photos
			.works__text
				| You can see more on my&nbsp;
				a.hover-1(target="_blank", href="https://unsplash.com/@nightcoder", onclick="yaCounter32612170.reachGoal('CLICK-UNSPLASH'); return true;") Unsplash
				| &nbsppage
	.works__slider.js-slider(data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "fade": false, "cssEase": "linear", "arrows": false, "centerMode": false, "focusOnSelect": true, "variableWidth": true, "autoplay": true, "responsive": [{"breakpoint": 1400, "settings": {"centerMode": true}}]}')
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461884430365-0a87b6123549?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461857710142-3e7ace00f9f4?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461899414075-b4a7da56143d?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461884565039-631924867711?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461884741551-ad97bea88672?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461857313288-dd1aea912fd6?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1465237501645-dc958607f396?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1461885283715-7851eba48c56?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1465237616368-a7d299dddda3?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1464619238259-ca2dd91ce213?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
		.works__item.works__item--03
			img.works__item_picture--03(src="https://images.unsplash.com/photo-1464618588910-71a841b67a21?dpr=2&auto=format&crop=entropy&fit=crop&h=400&q=60&cs=tinysrgb")
